.nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-top: -80px;
  transition: all 0.4s ease-in;
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.colBG {
  background: #000;
}
.transBG {
  background: transparent;
}

.brand-name {
  font-size: 30px;
}

.links {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.links > li {
  margin: 0 12px;
  color: #fff;
  font-size: 17px;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 500px) {
  .links {
    display: none;
  }

  .menu-icon {
    display: inline;
    width: 30px;
    height: 30px;
  }

  .brand-name {
    font-size: 22px;
    color: rgb(255, 145, 163);
  }
}
