.nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-top: -80px;
  transition: 0.4s ease-in;
  user-select: none;
  animation: aaall 0.5s ease-in-out;
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .colBG {
  background: #000;
} */

.transBG {
  background: transparent;
}

.brand-name {
  font-size: 30px;
}

.links {
  display: flex;
  list-style: none;
  position: relative;
}

.link {
  margin: 0 12px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}

.menu-icon {
  display: none;
}

.dropdownIcon {
  font-size: 12px;
  margin-left: 5px;
}

@media screen and (max-width: 500px) {
  .links {
    display: none;
  }

  .menu-icon {
    display: inline;
    width: 30px;
    height: 30px;
  }

  .brand-name {
    font-size: 22px;
    color: rgb(255, 145, 163);
  }
}

.dropdown {
  position: absolute;
  top: 30px;
  background: #fff;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.dropdown-content {
  list-style-type: none;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.dropdown-item:hover {
  background: #f4f4f4;
}

@keyframes aaall {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ******* About ********* */

.about-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #031321;
  color: #fff;
}

.about-content {
  padding: 20px;
}

.about-container h1 {
  text-align: center;
  font-size: 4rem;
  background: -webkit-linear-gradient(-70deg, #a2facf, #64acff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin: 40px;
}

.about-container p {
  text-align: center;
  background: -webkit-linear-gradient(-70deg, #a2facf, #64acff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  margin: 20px;
}
