.hero3 {
  position: relative;
  background: url("../images/hero3bg.webp");
  background-repeat: no-repeat;
  height: 0;
  background-size: cover;
  background-position: right top;
  padding-top: 50%;
}

.hero3::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #0f4629;
  opacity: 0.4;
}
