body {
  background: rgb(29, 29, 29);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.outer {
  position: relative;
  margin: 50px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

.button {
  border-radius: 50px;
  height: 70px;
  width: 220px;
}

.circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.outer circle {
  border-radius: 50%;
  outline: none;
}

.outer button,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer button {
  background: #111;
  color: #f3f3f3;
  outline: none;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 9;
}

.button button {
  width: 210px;
  height: 60px;
  border-radius: 50px;
}
.circle button {
  width: 190px;
  height: 190px;
  border-radius: 50%;
}

.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}

.button span {
  border-radius: 50px;
}
.circle span {
  border-radius: 50%;
}

.outer span:nth-child(2) {
  filter: blur(9px);
}

.outer:hover span:nth-child(3) {
  filter: blur(14px);
}

/* .outer:hover {
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
} */
