.main1 {
  background: #fff;
  min-height: 80vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.rot-div {
  position: relative;
  height: 80vh;
  background: #0c0e0e;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.rot-div h1 {
  text-align: center;
  font-size: 4rem;
  background: -webkit-linear-gradient(-70deg, #a2facf, #64acff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.wave-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 360px;
  background: url(../images/wave-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.main2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  min-height: 100vh;
}

.cards-container {
  position: relative;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.card {
  position: relative;
  height: 250px;
  width: 45%;
  margin: 30px 0;
  background: #fff;
  display: flex;
}

.card .img-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.card:hover .img-box {
  height: 150px;
  width: 150px;
  left: -75px;
  top: calc(50% - 75px);
  background: #ff0057;
  transition: 0.5s ease-in-out;
}

.card .img-box::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 9.6rem;
  color: rgba(225, 255, 255, 0.05);
  font-weight: 700;
}

.card .img-box img {
  max-width: 100px;
  transition: 0.5s ease-in-out;
}

.card:hover .img-box img {
  max-width: 75px;
  transition: 0.5s ease-in-out;
}

.card-content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content h3 {
  font-size: 2.4rem;
  margin-bottom: 5px;
}

.card-content p {
  font-size: 1.8rem;
}

.card-content a {
  font-size: 1.8rem;
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #333;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 992px) {
  .cards-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }

  .img-box {
    position: relative !important;
    transition: 0.5s ease-in-out;

  }

  .img-box,
  .card:hover .img-box {
    width: 100% !important;
    height: 200px !important;
    left: 0 !important;
  }
  
  .img-box img,
  .card:hover .img-box img {
    max-width: 100px;
    transition: 0.5s ease-in-out;
  }

  .card-content {
    position: relative;
    width: 100%;
  }
}
