.main2 {
  background: #fff;
  height: 100vh;
  width: 100%;
  position: relative;
}

.rot-div {
  height: 100%;
  background: #0c0e0e;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rot-div h1 {
  color: #fff;
  font-size: 6rem;
  background: -webkit-linear-gradient(-70deg, #a2facf, #64acff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
