* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* equal to 10px (by default 16px) */
}

// h1 {
//   font-size: 2rem; /* equal to 20px */
// }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media screen and (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 560px) {
  html {
    font-size: 45%;
  }
}

// operators
// variables
// nesting
// mixin
// parameters
// partials
